body {
  background-color: #FFF7E9;
}
.woman-image {
  margin-top: 50px;
  width: 270px
}
.App {
  background-color: #fff;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
}
h1 {
  color: #FF731D;
  text-align: center;
  text-shadow: 1px 1px 1px #024c84;
  font-family: 'Montserrat', sans-serif;
}
input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: #FF731D 2px solid;
  font-family: 'Montserrat', sans-serif;
 
}
ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  color: #024c84;

}
.check {
  height: 30px;
}
.crossed {
  text-decoration: line-through 2px #FF731D;
  background-color: #FFF7E9;

}
.btn {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  border: none;
  box-shadow: 2px 3px 3px #FF731D;;
  color: #fff;
}
.btn, .App, input, li {
  border-radius: 10px;
}
.add {
  background-color: #5F9DF7;
  margin-top: 40px;
}
.delete {
  background-color: #024c84;

}
@media all and (max-width: 500px){
  h1 {
    font-size: 30px;
  }
  .btn {
    font-size: 18px;
  }
  ul li {
    font-size: 20px;
    padding: 0;
  }
}